{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if error %}
<p>{{ error }}</p>
{% endif %}

<p>Two-factor authentication is enabled for this account.<br />
Please provide a valid login token to continue.</p>
<p>You are logging in as {{ user }} ({{ user.email }}).</p>

<form method="post" action="{% url 'login_twofactor' %}">
{% csrf_token %}
<table>
<tr>
    <td>Token: </td>
    <td><input type="text" name="token" /></td>
</tr>
</table>

<input type="submit" value="login" />
</form>

{% endblock %}
